@{
    Layout = null;
}
@{
    ViewBag.Title = "Help";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <ul>
            <li>
                <b>This file:</b> <a href="http://localhost:50421/Home/Help">http://localhost:50421/Home/Help</a>
            </li>
            <li>
                <b>webgrid:</b> <a href="http://localhost:50421/inventory/WebgridSample">http://localhost:50421/inventory/WebgridSample</a>
            </li>
            <li>
                <b>Tabs:</b> <a href="http://localhost:50421/inventory/Index">http://localhost:50421/inventory/Index</a>
            </li>
        </ul>
            </div>
</body>
</html>
